* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
body {
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
  padding: 2rem;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.cards {
  width: 400px;
  margin: 20px;
  padding: 2rem;
  border: 1.5px solid #eee;
  text-align: center;
  background-color: #222;
  border-radius: 20px;
}
.cards img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #eee;
}
.cards h1,
.cards p {
  margin: 10px 0;
}
.cards button {
  padding: 10px 20px;
  margin-top: 15px;
  border: 1px solid #eee;
  background-color: #333;
  border-radius: 10px;
  font-size: 1rem;
  transition: transform 0.3s;
  font-weight: bold;
}
.cards button:hover {
  transform: translateY(-2px);
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.5);
}
